/* styles.css */

html {
	background-color: pink;
	background-image: 
		linear-gradient(pink, thistle);
}

h1 {
	font-family: Book Antiqua;
	color: orchid;
	font-size: 175px;
	lettter-spacing: 10px;
}

div {
	font-family: Book Antiqua;
	color: dodgerblue;
	font-size: 30px;
	letter-spacing: 5px;
	margin: 30px;
}

.red {
	color: red;
	font-size: 60px;
	font-weight: bold;
	transform: rotate(25deg);
}

pre {
font-family: Book Antiqua;
	color: dodgerblue;
	font-size: 20px;
}


