/* styles.css */

html {
	background-color:lightyellow;
	background-image: 
		linear-gradient(lightyellow);
}

 body {
	font-family: Book Antiqua;
	color: goldenrod;
	font-size: 40px;
	lettter-spacing: 10px;
	margin: 0;
    padding: 50px 20px;
	display: flex;
    justify-content: center;
}

.poem-container {
    
    width: fit-content;
    text-align: center; 

}
h1 {
	font-family: Book Antiqua;
	color: goldenrod;
	font-size: 200px;
	letter-spacing: 10px;
	margin-bottom: 5px;
	text-align: center;
}

.red {
}

pre {
font-family:Book Antiqua;
	color:goldenrod;
	font-size: 40px;
	letter-spacing: 10px
	text-align: left;
}
.wrapper {
  max-width: 50px; 
  margin: 0 auto;    
}

header, .body-content {
  width: 50%;       
}


