/* styles.css */

html {
	background-color:lightyellow;
	background-image: 
		linear-gradient(lightyellow);
}

 body {
	font-family: Book Antiqua;
	color:saddlebrown;
	font-size: 30px;
	lettter-spacing: 6px;
	margin: 0;
    padding: 50px 20px;
	display: flex;
    justify-content: center;
}

.poem-container {
    
    width: fit-content;
    text-align: center; 

}
h1 {
	font-family: Book Antiqua;
	color:saddlebrown;
	font-size: 80px;
	letter-spacing: 6px;
	margin-bottom: 5px;
	text-align: center;
}

.red {
}

pre {
font-family:Book Antiqua;
	color:goldenrod;
	font-size: 30px;
	letter-spacing: 6px
	text-align: left;
}
.wrapper {
  max-width: 1500px; 
  margin: 0 auto;    
}


